          Indian Pledge
          
India is my country. All indians are my brothers and sisters. 
I love my country and I m proud of it's rich and varied heritage. 
I shall always strive to be worthy of it.



          Psalms 23:
          
The Lord is my shepherd,
I shall not want. 
He makes me to lie down on the green pasture. 
He Leads me beside the still water. 
He restores my soul. 

